* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background: url(https://abrakadabra.fun/uploads/posts/2022-01/1641305958_1-abrakadabra-fun-p-belii-blestyashchii-fon-1.jpg);
}

.header {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  min-height: 100px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  font-size: 4rem;
  letter-spacing: 0.1em;
}

.wraper {
  min-height: 100vh;
  max-width: 1100px;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.carousel {
  background-color: gray;
  height: 350px;
  max-width: 100%;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

.carousel::before,
.carousel::after {
  content: "";
  height: 100%;
  width: 200px;
  position: absolute;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.54) 0%,
    rgba(0, 0, 0, 0.04) 92%,
    rgba(114, 114, 114, 0) 100%
  );
  border-radius: 30px;
}

.carousel::before {
  left: 0;
  z-index: 1;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.54) 0%,
    rgba(0, 0, 0, 0.04) 92%,
    rgba(114, 114, 114, 0) 100%
  );
}

.carousel::after {
  right: 0;
  z-index: 1;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.54) 0%,
    rgba(0, 0, 0, 0.04) 92%,
    rgba(114, 114, 114, 0) 100%
  );
}

.slide {
  display: flex;
  align-items: center;
  margin-left: -1px;
  height: inherit;
  animation: street 35s linear infinite;
}

.slide__image {
  height: 80%;
}

.slide-clouds {
  display: flex;
  align-items: center;
  position: absolute;
  top: 35px;
  animation: clouds 30s linear infinite;
}

.slide-clouds__image {
  height: 100px;
}

.girl {
  position: absolute;
  top: 130px;
  left: 450px;
}

.girl__gif {
  height: 140px;
}

.audio {
  position: absolute;
  bottom: 20%;
  left: 43%;
  display: flex;
  margin: 0 auto;
  opacity: 80%;
  color: gray;
}

@keyframes street {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes clouds {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
